/* IMPOSTAZIONI GENERALI */
body {
    padding: 1em;
    background: url("../img/sfondo.png") fixed center;
    font-family: "Poppins", sans-serif;
    line-height: 1.5em;
}

hr {
    visibility: hidden;
}

a {
    color: #06a3c8;
}

strong {
    color: purple;
    font-weight: 600;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(3, 109, 134);
    padding: 2em;
    background: linear-gradient(45deg, rgba(3, 109, 134, 1) 0%, rgba(0, 159, 197, 1) 100%);
    -webkit-box-shadow: -12px 12px 30px -9px rgba(0, 0, 0, 0.62);
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.62);
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
}

.header p,
.header nav {
    margin-top: 1.5em
}


.header ul {
    display: flex;
    flex-direction: row;
    gap: 1em
}

.header li {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5px
}

.header li i {
    font-size: 0.5em;
}

.header a {
    text-decoration: none;
    color: #fff;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding-top: 2em;
    background-color: #fff;
    -webkit-box-shadow: -12px 12px 30px -9px rgba(0, 0, 0, 0.62);
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.62);
}

main h1 {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 600;
}

/* ELEMENTI NEL MAIN - ARTICLE */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article code {
    border: 1px solid lightgray;
    border-radius: 8px;
    background: #f3f3f3
}

article>p:last-of-type {
    margin: 2em 0;
}

table caption {
    margin-top: 2em;
    font-weight: 700;
    font-style: italic;
}

#article-details {
    color: #a0a0a0;
    margin: 2em 0;
}

article ul,
article ol {
    /* list-style-position: inside; */
    margin: 2em 0 2em 1em;
}
iframe {
    aspect-ratio: 1.75;
    border-radius: 1em ;
}



/* TABELLE */
table {
    border-bottom: 2px solid #3f6bca;
}

th {
    padding: 1em;
    background-color: #3f6bca;
    color: #fff;
    border-right: .5px solid #fff;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody td {
    padding: 1em;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

/* FORM */

.newsletter {
    position: relative;
    background:lightgrey;
    padding: 1em;
    margin: 2em;
}

.newsletter input {
    outline: none;
    margin-top: 1em;
    border: none;
    border-bottom: 1px dashed;
}

.newsletter button {
    border: none;
    background-color: #3f6bca;
    color: #fff;
    font-weight: 600;
}

.news {
    position: absolute;
    top: -10px;
    display: inline-block;
    padding: 0 1em;
    box-shadow: 2px 2px 2px  rgba(0,0,0,.5);
    background-color: #a3a3a3;
    text-transform: uppercase;
    font-weight: 600;
    color: #333333;
}

/* ELEMENTI NELL' ASIDE */
aside {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
}
aside h2 {
    align-self: center;
    text-transform: uppercase;
    font-weight: 600;
}
.related {
    display: flex;
    flex-direction: column;
    background:lightgrey;
    padding: 1em;
    border: 1px solid #c8c8c8;
}

.related p:last-of-type {
    margin-top: 1em;
    align-self: end;
}


/* FOOTER */
footer {
    padding: 1em;
    color: #fff;
    text-align: center;
    background: linear-gradient(0, #343536 0%, #055567 100%);
    box-shadow: 0 2px 2px  rgba(0,0,0,.5);
}

footer p {
    margin: 0 0 1em 0;
}

footer a {
    color: magenta
}

/* QUERIES */
@media only screen and (min-width:450px) {
    iframe {
        max-width: 70%;
    }
}

@media only screen 
   and (min-width : 768px) {
   
    main {
        flex-direction: row;
    }


}